@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Montserrat:ital,wght@0,100;0,400;1,400&display=swap');

.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
}

.heading h1 {
    font-size: 4rem;
    margin-bottom: 0.6rem;
}

.italic {
    font-style: italic;
}

.secondary-color {
    color: #EB455F;
}